<!-- templates --> 

<!DOCTYPE html>
<html lang="es">


  <head>
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js" type="module"></script>

    <title>KioskPay</title>
    <link rel="icon" href="./img/logo_KioskPay.ico" type="image/x-icon">



    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gsX|tatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  
  </head>


  <body>

    <header>

    </header>
  
    <main>
      <div class="container header-container">
        <h1>KioskPay</h1>
        <h2>PASARELA DE PAGO</h2>
        <p>KioskPay es un sistema de pasarela de pago diseñado para máquinas de quiosco de autoservicio. Facilita y agiliza las transacciones, ofreciendo una solución para el procesamiento de pagos en este entorno.</p>
      </div>
      
      <!-- Ventana de Mis Compras -->
      <div id="shoppingCartModal" class="modal">
        
        <!-- Contenido del Carito -->
        <div class="modal-content">

          <span class="close">&times;</span>
          <h2>Mis Compras</h2>

          <div class="tabs">
            <button class="tablink" onclick="openTab(event, 'Cart')">Contenido del Carrito</button>
            <button class="tablink" onclick="openTab(event, 'Billing')">Dirección de Facturación</button>
            <button class="tablink" onclick="openTab(event, 'Payment')">Método de Pago</button>
            <button class="tablink" onclick="openTab(event, 'Confirm')">Confirmar Pedido</button>
          </div>

          <div id="Cart" class="tabcontent">

            <br><br>
            <h3>DETALLES</h3>
            <table id="cartTable">
                <thead>
                    <tr>
                        <th>PRODUCTO</th>
                        <th>CANTIDAD</th>
                        <th>PRECIO UNITARIO</th>
                        <th>DESCUENTO</th>
                        <th>PRECIO FINAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p id="itemName">Nombre del Artículo</p>
                            <p id="itemDescription">Descripción</p>
                        </td>
                        <td>
                            <input type="number" value="1" min="1">
                        </td>
                        <td id="itemPrice">$0.00</td>
                        <td id="discountAmount">$0.00</td>
                        <td id="totalPrice">$0.00</td>
                    </tr>
              <!-- Repetir filas para más artículos -->
                </tbody>
            </table>

            <div class="promo-code">
                <input type="text" placeholder="Codigo Promocional" />
                <button class="apply-promo-btn">APLICAR</button>
            </div>
            <div class="checkout-controls">
                <span id="totalPriceDisplay">PRECIO FINAL: $0.00</span>
                <button class="next-step-btn" id="nextStepButton" data-next-tab="Billing">SIGUIENTE</button>
            </div>
          </div>          
          <!-- Contenido del carrito -->

        </div>

        <!-- Dirrecion de Facturacion -->
        <div id="Billing" class="tabcontent">
        
          <form id="billingForm" method="post" action="/">

            <h3>DATOS PARA LA FACTURA</h3>

            <label for="fullName">Nombre Completo:</label>
            <input type="text" id="fullName" name="fullName" required>
            
            <label for="ci">Cedula de Identidad:</label>
            <input type="number" id="ci" name="ci" required>

            <label for="address">Dirección:</label>
            <input type="text" id="address" name="address" required>

            <label for="city">Ciudad:</label>
            <input type="text" id="city" name="city" required>

            <label for="country">País:</label>
            <input type="text" id="country" name="country" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Teléfono:</label>
            <input type="tel" id="phone" name="phone" required>

            <button type="submit" id="submitButton">Enviar</button>
          </form>

        </div>
        
        <!-- Método de pago -->
        <div id="Payment" class="tabcontent">
                    
          <form id="paymentForm" method="post" action="/">
            <h3>MÉTODO DE PAGO</h3>

            <label for="cardName">Nombre en la Tarjeta:</label>
            <input type="text" id="cardName" name="cardName" required>

            <label for="cardNumber">Número de la Tarjeta:</label>
            <input type="text" id="cardNumber" name="cardNumber" required pattern="\d{16}" title="Debe contener 16 dígitos" maxlength="16" minlength="16" oninput="validateLength(this, 16)">

            <label for="expiryDate">Fecha de Expiración (MM/AA):</label>
            <input type="text" id="expiryDate" name="expiryDate" required placeholder="MM/AA" maxlength="5" oninput="formatExpiryDate(this)">

            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" required pattern="\d{3}" title="Debe ser un número de 3 dígitos" maxlength="3" minlength="3" oninput="validateLength(this, 3)">

            <button type="submit" id="submitPaymentButton">Enviar</button>
          </form>

        </div>

        <!-- Confirmar Pedido -->
        <div id="Confirm" class="tabcontent">
          <div class="center-content">

            <button class="finalize-purchase-btn">Finalizar Compra</button>

          </div>
          <!-- Confirmar pedido -->
        </div>

      </div>

      <!-- Cuerpo de porductos -->
      <div class="container products-container">
        
        <!-- Producto 1 -->
        <div class="product-card">          
          <img src="./img/producto1.jpg" alt="Producto 1 - Cereal">
          <div class="product-info">
            
            <h2>Producto 1 - Cereal</h2>
            <p>Descripción breve del producto...</p>
            <p class="price">$4.99</p>
            
            <button class="add-to-cart-btn" id="btnConfeti" data-producto-id="1">Agregar al carrito</button>                          
            <script src="JavaScript/script.js" type="module"></script>          

          </div>          
        </div>
        
        <!-- Producto 2 -->
        <div class="product-card">
          <img src="./img/producto2.jpg" alt="Producto 2 - Bebida">
          <div class="product-info">
            <h2>Producto 2 - Bebida</h2>
            <p>Descripción breve del producto...</p>
            <p class="price">$3.50</p>

            <button class="add-to-cart-btn" id="btnConfeti" data-producto-id="2">Agregar al carrito</button>            
            <script src="JavaScript/script.js" type="module"></script> 
          
          </div>
        </div>

        <!-- Producto 3 -->
        <div class="product-card">
          <img src="./img/producto3.jpg" alt="Producto 3 - Carnes">
          <div class="product-info">
            <h2>Producto 3 - [Nombre del Producto]</h2>
            <p>Descripción breve del producto 3...</p>
            <p class="price">$5.25</p>

            <button class="add-to-cart-btn" id="btnConfeti" data-producto-id="3">Agregar al carrito</button>            
            <script src="JavaScript/script.js" type="module"></script>           

          </div>
        </div>

        <!-- Producto 4 -->
        <div class="product-card">
          <img src="./img/producto4.jpg" alt="Producto 4 - limpieza">
          <div class="product-info">
            <h2>Producto 4 - [Nombre del Producto]</h2>
            <p>Descripción breve del producto 4...</p>
            <p class="price">$6.00</p>
            
            <button class="add-to-cart-btn" id="btnConfeti" data-producto-id="4">Agregar al carrito</button>            
            <script src="JavaScript/script.js" type="module"></script> 
          
          </div>
        </div>

      </div>

    </main>

    <footer>
      <div class="container footer-container">
        <p>&copy; 2023 KioskPay. Todos los derechos reservados.</p>
      </div>
    </footer>

    <script>
      // Accion abrir la ventana modal
      var modal = document.getElementById('shoppingCartModal');
      var btns = document.querySelectorAll('.add-to-cart-btn');
      btns.forEach(btn => {
        btn.onclick = function() {
          modal.style.display = "block";
        }
      });
      // Accion cerrar la ventana modal
      var span = document.getElementsByClassName("close")[0];
      span.onclick = function() {
        modal.style.display = "none";
        reiniciarDatos(); // Llama a la función para reiniciar los datos
      }
      // Función para reiniciar los datos del carrito y el formulario
      function reiniciarDatos() {
        // Reiniciar el formulario de facturación
        document.getElementById('billingForm').reset();

        // Reiniciar los datos del carrito (puedes ajustar según tu lógica de carrito)
        document.getElementById('itemName').textContent = "Nombre del Artículo";
        document.getElementById('itemDescription').textContent = "Descripción";
        document.getElementById('itemPrice').textContent = "$0.00";
        document.getElementById('discountAmount').textContent = "$0.00";
        document.getElementById('totalPrice').textContent = "$0.00";
        document.getElementById('totalPriceDisplay').textContent = "PRECIO FINAL: $0.00";
        
        // Reiniciar la cantidad seleccionada en el carrito
        var cantidadInputs = document.querySelectorAll('#cartTable input[type=number]');
        cantidadInputs.forEach(input => {
          input.value = 1; // Establecer la cantidad predeterminada, asumiendo que es 1
        });

        // Reiniciar el código promocional
        var promoCodeInput = document.querySelector('.promo-code input');
        promoCodeInput.value = '';

        // Asegurarse de actualizar el precio total después de reiniciar los valores
        actualizarPrecioTotal();
      }
      // Función para cambiar entre pestañas
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
          
      
      var productos = [
        {
          id: 1,
          nombre: "Producto 1 - Cereal",
          descripcion: "Descripción breve del producto...",
          precio: 4.99
        },

        {
          id: 2,
          nombre: "Producto 2 - Bebida",
          descripcion: "Descripción breve del producto...",
          precio: 3.50
        },

        {
          id: 3,
          nombre: "Producto 3 - Carnes",
          descripcion: "Descripción breve del producto...",
          precio: 5.25
        },

        {
          id: 4,
          nombre: "Producto 4 - limpieza",
          descripcion: "Descripción breve del producto...",
          precio: 6.00
        },
        
      ];

      // Función para actualizar el precio total de un producto
      function actualizarPrecioTotal() {
        var cantidad = document.querySelector('#cartTable input[type=number]').value;
        var precioUnitario = parseFloat(document.getElementById('itemPrice').textContent.replace('$', ''));
        var precioTotalSinDescuento = cantidad * precioUnitario;
        
        // Aplicar descuento si es necesario y calcular el precio total final
        var descuento = aplicarDescuento(precioTotalSinDescuento);
        var precioTotalConDescuento = precioTotalSinDescuento - descuento;

        document.getElementById('totalPrice').textContent = '$' + precioTotalConDescuento.toFixed(2);
        document.getElementById('totalPriceDisplay').textContent = 'PRECIO FINAL: $' + precioTotalConDescuento.toFixed(2);
      }
      // Función para aplicar el descuento
      function aplicarDescuento(precioTotal) {
        var codigoPromo = document.querySelector('.promo-code input').value;
        var descuento = 0;

        if (codigoPromo === '12345') {
          descuento = precioTotal * 0.25; // 25% de descuento
        }

        document.getElementById('discountAmount').textContent = '-$' + descuento.toFixed(2);
        return descuento;
      }
      // Evento al botón de aplicar el código promocional
      document.querySelector('.apply-promo-btn').addEventListener('click', function() {
        actualizarPrecioTotal();
      });


      // Evento cantidad del producto
      document.querySelector('#cartTable input[type=number]').addEventListener('change', function() {
        actualizarPrecioTotal();
      });
      // Evento agregar el producto
      function agregarAlCarrito(idProducto) {
        var producto = productos.find(p => p.id === idProducto);
        if (producto) {
          // Asigna los valores a los campos del carrito
          document.getElementById('itemName').textContent = producto.nombre;
          document.getElementById('itemDescription').textContent = producto.descripcion;
          document.getElementById('itemPrice').textContent = "$" + producto.precio.toFixed(2);
          // Actualiza el precio total
          actualizarPrecioTotal();
          openTab(event, 'Cart');
        } 
      }
      // Eevento click de tus botones de "Agregar al carrito"
      var botonesAgregar = document.querySelectorAll('.add-to-cart-btn');
      botonesAgregar.forEach(btn => {
        btn.onclick = function() {
          var productoId = parseInt(btn.getAttribute('data-producto-id'));
          agregarAlCarrito(productoId);
          // Muestra la ventana modal del carrito
          modal.style.display = "block";
        };
      });

      document.getElementById('nextStepButton').addEventListener('click', function() {
        var nextTab = this.getAttribute('data-next-tab');
        openTab(event, nextTab);
      });
      
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('billingForm').addEventListener('submit', function (e) {
          // Evita el envío automático del formulario
          e.preventDefault();

          // Obtiene todos los campos del formulario
          var formData = new FormData(this);

          // Realiza la solicitud AJAX
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/', true);
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

          // Maneja la respuesta del servidor
          xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
              // Muestra el mensaje
              document.getElementById('mensaje').style.display = 'block';
            }
          };

          // Envía los datos al servidor
          xhr.send(new URLSearchParams(formData));
        });
      });


      //Mes y año de caducidad de la tarjeta ingresada
      function formatExpiryDate(input) {
        var value = input.value;
        var formattedValue = value.replace(/\D/g, '').substring(0, 4);

        // Añadir la barra inclinada después del mes
        if (formattedValue.length > 2) {
          formattedValue = formattedValue.substring(0, 2) + '/' + formattedValue.substring(2);
        }

        input.value = formattedValue;
      }

      //El formulario obliga al usuario a ingresar 16 digitos de la tarjeta y 3 para el CVV
      function validateLength(input, length) {
        if (input.value.length > length) {
        input.value = input.value.substring(0, length);
        }
      }



    </script>
    
  </body>

</html>