<!-- styles.css --> 
<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />    
    <link rel="icon" href="img/--" type="image/png">
    <title>KioskPay</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gsX|tatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  </head>

  <body>

    <!--
    <div class="container">
      <button class="button-85" id="btnConfeti">  Touch me🎉 </button>
    </div>

    <script src="JavaScript/script.js" type="module"></script>
    -->
    <div class="cabecera">
        <h1>Cabecera</h1>
        <!-- Agrega aquí cualquier otro contenido de la cabecera que desees -->
    </div>

    <div class="contenido">
        <!-- Agrega aquí el contenido de tu página -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
    </div>





  </body>
</html>