/* styles.css */

div{  height: 100vh;  display: grid;  place-content: center;   }
body {    background-color: #565656;         }



.button-85 {
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Courgette', cursive;
    
    padding: 0.2em 0.6em;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
    user-select: none;
    -webkit-user-select: none; 
    touch-action: manipulation;
}
.button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 25px;
}
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}


.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 25px;
}

.button-85:hover:after  {    background:    #252525;            }
.button-85:hover        {    color:         rgb(255, 255, 255); }
